@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

html {
  scroll-behavior: smooth;
}

body {
  background: #201f2d;
}
/* ----------------------header---------------------- */

a {
  color: #fff;
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 9%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), #201f2d);
  z-index: 1000;

}

.header>.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-bar .logo {
  font-size: 30px;
  font-weight: 700;
  text-shadow: 0 0 15px #7cf03d;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li {
  margin-right: 35px;
  list-style: none;
}

.nav-bar ul li a {
  font-size: 20px;
  font-weight: 400;
  transition: .5s;
}

.nav-bar ul li a:hover,
.nav-bar ul li a.active {
  color: #7cf03d;
  font-weight: 700;
}

/* --------------------home------------------------- */
#home {
  color: #fff;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 65px 9% 0;
}

#home h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

#home h1 span {
  color: #7cf03d;
}

#home h2 {
  font-size: 2rem;
  margin-top: 10px;
  font-weight: 500;
}

#home p {
  font-size: 1rem;
  margin: 10px 0 25px;
  margin-bottom: 40px;
  
}

.home-info {
  flex-basis: 70%;
}

.home-info .btn-sec {
  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  background-color: #7cf03d;
  padding: 10px 30px;
  border: 1px solid #7cf03d;
  border-radius: 40px;
  box-shadow: 0 0 10px #7cf03d;
  font-size: 16px;
  color: #1f242d;
  font-weight: 600;
}
.bt{
  margin-left: 20px;
  background: transparent;
  color: #7cf03d;
}
.btn:hover {
  background: transparent;
  color: #7cf03d;
  box-shadow: none;
}
.bt:hover{
  background: #7cf03d;
  color: #201f2d;

}

.home-info .btn-sec .sol {
  margin-left: 20px;
}

.home-info .btn-sec .sol a {
  display: inline-flex;
  padding: 10px;
  font-size: 20px;
  border: 2px solid #7cf03d;
  border-radius: 50px;
  margin: 0 5px;
  color: #7cf03d;
  box-shadow: 0 0 5px #7cf03d;
  transition: .5s;
}

.home-info .btn-sec .sol a:hover {
  background-color: #7cf03d;
  color: #1f242d;
  box-shadow: 0 0 10px #7cf03d;
}

.home-img {
  flex-basis: 30%;
}

.home-img .img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 300px;
  width: 300px;
  background: #7cf03d;
  border-radius: 50%;
  box-shadow: 0 0 15px #7cf03d;

}

.home-img .img-box img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px;
  
}

/* ----------------------about----------------------- */
#about {
  padding: 80px 30px;
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
  margin-left: 30px;
  margin-top: 30px;

}

.about-col-1 img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 15px #7cf03d;
}

.about-col-2 {
  flex-basis: 60%;
}
#abt{
  margin-left: 3px;
  
}

.sub-title {
  font-size: 2rem;
  font-weight: 600;
  color:#7cf03d;
  margin-bottom: 17px;
  margin-left: 20px;
  text-shadow: 0 0 5px  #7cf03d;

}

.about-col-2 p {
  font-size: 1rem;
  word-spacing: 6px;
  color: #fff;
  text-align: justify;
}

.tab-title {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 30px;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.tab-links:hover {
  color: #7cf03d;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #7cf03d;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-title .active-link::after {
  width: 50%;
}

.tab-contents {
  color: #fff;
  display: none;

}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 15px;
}

.tab-contents ul li span {
  color: #7cf03d;
  font-size: 18px;
}

.tab-contents.active-tab {
  display: block;
}

/* ---------------------service---------------------- */

#service {
  padding: 80px 20px;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
  color: #fff;
}

.service-list div {
  background: #6d6c6c;
  padding: 40px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 300;
  box-shadow: 0 0 20px #f2f2f2;
  transition: transform 0.5s;
}

.service-list div h2 {
  color: #201f2d;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 10px;
  text-shadow: 0 0 3px #f2f2f2;
}

.service-list div a {
  margin-top: 20px;
  color: #201f2d;
  font-size: 17px;
  font-weight: 500;
}

.service-list div i {

  font-size: 50px;
  color: #201f2d;
  margin-bottom: 10px;
  text-shadow: 0 0 4px #f2f2f2;
}

.service-list div p {
  margin-bottom: 10px;
}

.service-list div:hover {
  background: #7cf03d;
  transform: translateY(-10px);
}

. {
  color: #201f2d;
}

/* ------------------protfolio------------------------- */
#protfolio {
  padding: 80px 30px;
  margin: 0 10px;
  height: 100vh;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.work {
  position: relative;
  border-radius: 20px;
  /* overflow: hidden; */
}

.work img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 0 15px #f2f2f2;

}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #7cf03d);
  border-radius: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0 40px;
  transition: 0.5s;



}

.layer h3 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 20px;
}

.layer p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}

.layer i {
  font-size: 18px;
  background: #fff;
  color: #201f2d;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  margin: 0 8px;
}




.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.see-more {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 2px solid #7cf03d;
  padding: 10px 30px;
  border-radius: 20px;
  text-shadow: 0 0 2px #fff;
  box-shadow: 0 0 10px #7cf03d;
  font-size: 1rem;
  font-weight: 500;
  transition: background 0.5s;

}

.see-more:hover {
  background: #7cf03d;
  color: #201f2d;
}

/* ---------------------about----------------------------- */

/* .contact-section {
  display: flex;
} */

/* .left-contact {
  flex-basis: 35%;
/* } */

.right-contact form{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.right-contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex: wrap;
} 

.right-contact form .input-box input,
.right-contact form textarea{
  padding: 1.5rem;
  font-size: 1.3rem;
  border-radius: 0.8rem;
  margin: .7rem ;
  background: #262626;
  color: #fff;
}

.right-contact form .input-box input{
  width: 50%;
}
.right-contact form textarea{
  width: 98%;
}
.left-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-contact p {
  color: #fff;
  margin-top: 20px;
  font-size: 1.4rem;
  margin-bottom: 20px;
  font-weight: 400;
}
.p1{
  margin-left: 25px;
  color: #fff;
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 500;
}

.left-contact .p1 i {
  display: inline-flex;
  margin-right: 15px;
  font-size: 22px;
  border: 2px solid #7cf03d;
  border-radius: 10px;
  padding: 5px 7px;
  color: #fff;
  transition: 0.5s;

}

.left-contact .p1 i:hover {
  background: #7cf03d;
  color: #201f2d;
  transform: translateY(-5px);
}

.left-contact h2{
  color: #fff;
  font-size:1.7rem ;
}
.left-contact h4{
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  margin-bottom:30px;
}

.social-icon {
  text-align: center;

}
.social-icon h3{
  margin-top: 50px;
  color: #7cf03d;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
.social-icon .h3p{
  margin-top: 3px;
  margin-bottom: 20px;
  
}

.social-icon a {
  display: inline-block;
  font-size: 22px;
  border: 2px solid #7cf03d;
  border-radius: 10px;
  margin-right: 15px;
  padding: 3px 7px;
  transition: 0.5s;
  margin-top: 20px;
  margin-bottom: 50px;

}

.social-icon a:hover {
  background: #7cf03d;
  color: #201f2d;
  transform: translateY(-5px);
}

.btn2 {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 50px;
} 

.copyright {
  width: 100%;
  color: #fff;
  background: #6d6c6c;
  margin-top: 150px;
  padding: 20px 10px;
  text-align: center;
  font-size: 18px;
  word-spacing: 3px;

}

.copyright i {
  color: #7cf03d;
}

.copyright span {
  color: #201f2d;
}



/* -------------------css for samll screen---------------------*/


@media only screen and (max-width:600px) {
  #header {
    .header
  }
}